# Sistem dosyaları
.DS_Store
Thumbs.db

# IDE dosyaları
.idea/
.vscode/
*.swp
*.swo

# Dependency dosyaları
node_modules/
package-lock.json

# Derleme çıktıları
dist/
build/

# Log dosyaları
*.log
npm-debug.log*

# Ortam değişkenleri
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
